:root {
    --blue-dark: #1877f2;
    --blue-light: #e7f3ff;
    --white: #fff;
    --gray-light: #f0f2f5;
    --gray-text: #1c1e21;
    --font-main: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    background-color: var(--gray-light);
}